/* 文本颜色 开始 */
/* 主色 */
$text-color-primary = #f63
/* 辅助色 */
$text-color-auxiliary = #3c6
/*$text-color-auxiliary = #8cb521*/
/* 基本色 */
$text-color-base = #333
/* 亮色 */
$text-color-light = #666
/* 更亮色 */
$text-color-lighter = #999
$text-color-lighter-alpha-30 = alpha($text-color-lighter, .3)
/* 最亮色 */
$text-color-lightest = #fff
/* 最暗色 */
$text-color-darkest = #000
/* 禁用色 */
$text-color-disabled = #ccc
/* 占位符色 */
$text-color-placeholder = #eee
/* 无色 */
$no-color = transparent
/* 文本颜色 结束 */

/* 背景颜色 开始 */
$bg-color-primary = $text-color-primary
$bg-color-primary-lighten-40 = lighten($text-color-primary, 40%)
$bg-color-primary-lighten-80 = lighten($text-color-primary, 80%)
$bg-color-auxiliary = $text-color-auxiliary
$bg-color-primary-alpha-0 = alpha($text-color-auxiliary, 0)
$bg-color-primary-lighten-20 = lighten($text-color-auxiliary, 20%)
$bg-color-base = #f2f4f7
$bg-color-disabled = $text-color-disabled
$bg-color-lightest = $text-color-lightest
$bg-color-lightest-alpha-0 = alpha($text-color-lightest, 0)
/* 背景颜色 结束 */

/* 边框颜色 开始 */
$border-color-base = #dcdcdc
/* 边框颜色 结束 */