/* 火车行 */
.concave.train-row {
  /* 默认回退颜色 */
  background: #fff;
  /* 老语法 */
  background:
    -webkit-gradient(
      linear, 0 0, 100% 100%,
      from($bg-color-lightest-alpha-0), to($bg-color-lightest),
      color-stop(.06, $bg-color-lightest-alpha-0),
      color-stop(.06, $bg-color-lightest)
    ) no-repeat left top,
    -webkit-gradient(
      linear, 100% 0, 0 100%,
      from($bg-color-lightest-alpha-0), to($bg-color-lightest),
      color-stop(.06, $bg-color-lightest-alpha-0),
      color-stop(.06, $bg-color-lightest)
    ) no-repeat right top,
    -webkit-gradient(
      radial, 100% 100%, 0, 100% 100%, 20,
      from($bg-color-lightest-alpha-0), to($bg-color-lightest),
      color-stop(.6, $bg-color-lightest-alpha-0),
      color-stop(.7, $bg-color-lightest)
    ) no-repeat right bottom,
    -webkit-gradient(
      radial, 0 100%, 0, 0 100%, 20,
      from($bg-color-lightest-alpha-0), to($bg-color-lightest),
      color-stop(.6, $bg-color-lightest-alpha-0),
      color-stop(.7, $bg-color-lightest)
    ) no-repeat left bottom
  /* 新语法 */
  background:
    -webkit-linear-gradient(
      315deg,
      $bg-color-lightest-alpha-0 .12rem,
      $bg-color-lightest .14rem,
      $bg-color-lightest 0
    ) no-repeat left top,
    -webkit-linear-gradient(
      225deg,
      $bg-color-lightest-alpha-0 .12rem,
      $bg-color-lightest .14rem,
      $bg-color-lightest 0
    ) no-repeat right top,
    -webkit-radial-gradient(
      right bottom, circle,
      $bg-color-lightest-alpha-0 .12rem,
      $bg-color-lightest .14rem,
      $bg-color-lightest 0
    ) no-repeat right bottom,
    -webkit-radial-gradient(
      left bottom, circle,
      $bg-color-lightest-alpha-0 .12rem,
      $bg-color-lightest .14rem,
      $bg-color-lightest 0
    ) no-repeat left bottom;
  /* 标准语法 */
  background:
    linear-gradient(
      135deg,
      $bg-color-lightest-alpha-0 .12rem,
      $bg-color-lightest .14rem,
      $bg-color-lightest 0
    ) no-repeat left top,
    linear-gradient(
      225deg,
      $bg-color-lightest-alpha-0 .12rem,
      $bg-color-lightest .14rem,
      $bg-color-lightest 0
    ) no-repeat right top,
    radial-gradient(
      circle at right bottom,
      $bg-color-lightest-alpha-0 .12rem,
      $bg-color-lightest .14rem,
      $bg-color-lightest 0
    ) no-repeat right bottom,
    radial-gradient(
      circle at left bottom,
      $bg-color-lightest-alpha-0 .12rem,
      $bg-color-lightest .14rem,
      $bg-color-lightest 0
    ) no-repeat left bottom;
  /* 兼容老的移动设备background-size须单独抽出来声明 */
  background-size:
    51.5% 51.5%,
    51.5% 51.5%,
    51.5% 51.5%,
    51.5% 51.5%;
}

/* 坐席行 */
.concave.seat-row {
  /* 默认回退颜色 */
  background: #fff;
  /* 老语法 */
  background:
    -webkit-gradient(
      radial, 0 0, 0, 0 0, 20,
      from($bg-color-lightest-alpha-0), to($bg-color-lightest),
      color-stop(.6, $bg-color-lightest-alpha-0),
      color-stop(.7, $bg-color-lightest)
    ) no-repeat left top,
    -webkit-gradient(
      radial, 100% 0, 0, 100% 0, 20,
      from($bg-color-lightest-alpha-0), to($bg-color-lightest),
      color-stop(.6, $bg-color-lightest-alpha-0),
      color-stop(.7, $bg-color-lightest)
    ) no-repeat right top,
    -webkit-gradient(
      linear, 100% 100%, 0 0,
      from($bg-color-lightest-alpha-0), to($bg-color-lightest),
      color-stop(.06, $bg-color-lightest-alpha-0),
      color-stop(.06, $bg-color-lightest)
    ) no-repeat right bottom,
    -webkit-gradient(
      linear, 0 100%, 100% 0,
      from($bg-color-lightest-alpha-0), to($bg-color-lightest),
      color-stop(.06, $bg-color-lightest-alpha-0),
      color-stop(.06, $bg-color-lightest)
    ) no-repeat left bottom
  /* 新语法 */
  background:
    -webkit-radial-gradient(
      left top, circle,
      $bg-color-lightest-alpha-0 .12rem,
      $bg-color-lightest .14rem,
      $bg-color-lightest 0
    ) no-repeat left top,
    -webkit-radial-gradient(
      right top, circle,
      $bg-color-lightest-alpha-0 .12rem,
      $bg-color-lightest .14rem,
      $bg-color-lightest 0
    ) no-repeat right top,
    -webkit-linear-gradient(
      135deg,
      $bg-color-lightest-alpha-0 .12rem,
      $bg-color-lightest .14rem,
      $bg-color-lightest 0
    ) no-repeat right bottom,
    -webkit-linear-gradient(
      45deg,
      $bg-color-lightest-alpha-0 .12rem,
      $bg-color-lightest .14rem,
      $bg-color-lightest 0
    ) no-repeat left bottom;
  /* 标准语法 */
  background:
    radial-gradient(
      circle at left top,
      $bg-color-lightest-alpha-0 .12rem,
      $bg-color-lightest .14rem,
      $bg-color-lightest 0
    ) no-repeat left top,
    radial-gradient(
      circle at right top,
      $bg-color-lightest-alpha-0 .12rem,
      $bg-color-lightest .14rem,
      $bg-color-lightest 0
    ) no-repeat right top,
    linear-gradient(
      -45deg,
      $bg-color-lightest-alpha-0 .12rem,
      $bg-color-lightest .14rem,
      $bg-color-lightest 0
    ) no-repeat right bottom,
    linear-gradient(
      45deg,
      $bg-color-lightest-alpha-0 .12rem,
      $bg-color-lightest .14rem,
      $bg-color-lightest 0
    ) no-repeat left bottom;
  /* 兼容老的移动设备background-size须单独抽出来声明 */
  background-size:
    51.5% 51.5%,
    51.5% 51.5%,
    51.5% 51.5%,
    51.5% 51.5%;
}